<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belly Button Bacteria</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>

<body>
    <main role="main">
        <section class="jumbotron text-xs-center">
            <div class="container" style="text-align: center;">
                <h1 class="jumbotron-heading" >Belly Button Biodversity Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset.</p>
            </div>
        </section>
        <select class="selectpicker" id="dropdown-menu" onchange="optionChanged(this.value)" data-style="btn-primary"></select>

        <section >
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4>Sample MetaData</h4>

                <ul class="list-group">
                    <li id="age" class="list-group-item">Age: 24</li>
                    <li id="bbtype" class="list-group-item">Type: I</li>
                    <li id="ethnicity" class="list-group-item">Ethnicity: Caucasian</li>
                    <li id="gender" class="list-group-item">Gender:  F</li>
                    <li id="location" class="list-group-item">Location: Beaufort/NC</li>
                    <li id="ethnicity" class="list-group-item">Sample ID: 940</li>
                </ul>
            </div>
            <div class="col-lg-5 text-center">
                <h4>Operational Taxonomic Unit</h4>
                <h5>Percentages for Participant</h5>

                <div id="pie_chart">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="bubble_chart">                    

                </div>
            </div>


        </div>
        </section>

    <!--=================================================================-->
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Copyright Tsering 2018  &copy; USC Viterbi Data Analytics Bootcamp</p>
        </div>
    </footer>


    <!--jQuery firt, popper.js second, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="/static/js/app.js"></script>
</body>

</html>